.cats {
  padding-top: 97px;
  padding-bottom: 152px;

  .container {
    padding: 0;
  }
}

.cats__title {
  font-size: 48px;
  text-align: center;
  position: relative;
  margin-bottom: 71px;

  &::after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 118px;
    height: 8px;
  }
}

.cats__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-template-rows: 224px 224px 224px;
  grid-gap: 30px;
}

.cats__item {
  position: relative;

  &--double-height {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }

  &--double-height2 {
    grid-column: 1 / 1;
    grid-row: 2 / 4;
  }
}

.cats__info {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(45, 45, 45, 0.75);
  font-size: 24px;
  line-height: 42px;
  color: #ffffff;
  padding-left: 22px;

  &:hover {
    background-image: linear-gradient(to left, #7ac398 0%, #01abce 100%);
    text-decoration: none;
    color: #ffffff;
  }
}
