.header {
  padding-top: 20px;
}

.logo {
  font-family: "Bad Script", cursive;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
  color: #171717;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo_img {
  width: 53px;
  height: 55px;
}

.logo_txt {
  margin-right: 33px;
}

.contacts {
  margin-left: auto;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-items: flex-end;
  padding-right: 35px;
  // text-decoration: none;
}

.contacts__item {
  margin-left: 58px;
  width: 150px;
}

.contacts__link {
  display: block;
  text-align: right;
  padding-bottom: 5px;
  position: relative;
  color: #171717;

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 21px;
    background: url("../img/icon-paw.svg") no-repeat center;
    top: 3px;
    left: -13px;
  }

  &--right::before {
    left: -22px;
  }
}
