.navbar {
  background: #413471;
  padding: 0;
  margin-top: 35px;

  @include mobile {
    display: none;

    &--show {
      display: block;
    }
  }
}

.navbar__list {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;

  @include tablet {
    padding: 0;
  }

  @include mobile {
    flex-direction: column;
  }
}

.navbar__item {
  flex-grow: 1;
}

.navbar__link {
  display: block;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  color: #ffffff;
  padding: 14px 0 17px 0;
  text-decoration: none;
  width: 100%;
  text-align: center;

  &--callback {
    background-color: #6d5cad;
    padding: 8px 0 10px 0;
    border-radius: 25px;
    margin-left: 15px;
    position: relative;

    @include mobile {
      margin: 0;
      padding: 8px 25px 10px 45px;
      margin-bottom: 30px;
    }

    &::before {
      position: absolute;
      content: "";
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 15px;
      background: url("../img/icon-phone.svg") no-repeat center;
    }
  }


  &:hover {
    background: #241d3e;
    color: #ffffff;
    text-decoration: none;
  }

  &--callback:hover {
    background-color: #6d5cad;
    background-image: linear-gradient(to left, #7ac398 0%, #01abce 100%);
  }
}
