@import "normalize.scss";
@import "pixel-glass.scss";
// @import "bootstrap.scss";
@import "fonts.scss";
// @import "mixins.scss";
@import "swiper.scss";
@import "blocks/body.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/promo.scss";
@import "blocks/cats.scss";
@import "blocks/footer.scss";
@import "blocks/popup.scss";
